<ng-template [ngIf]="showDetails">
    <div class="background"></div>
</ng-template>

    <div class="product p-3 {{showDetails?'detailed':''}}">

        <div title="{{product.title}}" class="flex product-title cursor-help px-4 py-2 w-100 text-2xl relative text-white h-28">
            <p class="line-clamp-2 m-auto max-h-100 text-clip overflow-hidden">           
                {{product.title}}
            </p>      
        </div>

        <div class="position-relative h-75 w-100">               

            <hr class="border-1">

            <div class="product-img-bg flex w-100 rounded bg-white px-5 py-4">
                <img [src] = "product.image" [alt]="product.title" class="product-img m-auto">
            </div>

            <hr class="border-1">

            <div class="flex w-100">
                <div class="w-fit shadowed  text-lg px-3 py-1 text-white bg-dark rounded-pill">{{product.category}}</div>
            </div>

            <hr class="border-2">

            <div class="px-3 py-2 text-3xl">Price: {{product.price| currency}}</div>

            <hr class="border-2">

        <div class="p-2">
            <button (click)="showDetails=!showDetails" class = "info-btn shadowed border-3 px-4 py-2 text-lg text-white {{showDetails==true?'hide':'show'}}-info-btn"> {{showDetails==true?"Hide":"Show"}} info</button>
        </div>
        <ng-template [ngIf]="showDetails">
            <div class="details p-2">
                <div class="p-2">{{product.description}}</div>      
                <div class="p-2">          
                    <ngb-rating [(rate)]="product.rating.rate" [readonly]="true" [max]="5"></ngb-rating>     

                    <hr class="border-1"/>     

                    Rate: <b>{{product.rating.rate}}</b>,
                    Vouts: <b>{{product.rating.count}}</b>
                </div>
            </div>           
        </ng-template>
    </div>
</div>  