.product{
    border-radius: 5px;
    background-color: rgb(235, 235, 235);
    border: 1px solid rgb(165, 165, 165);
    height: 100%;
    position: relative;
}
.product-img{
    max-height: 35vh;
}
.product-img-bg{
    min-height: 25%;
}
.detailed{
    background-color: rgb(251, 251, 251);
}
.details{
    background-color: rgb(251, 251, 251);
    width: 100%;
    border-radius: 5px;
}
.hovertext{
    top: 110%;
    left: 0;
}
.border-1{
    border-color: black;
    border-width: 2px;
}
.border-2{
    border-color: rgb(150, 150, 150);
    border-style: dotted;
    border-width: 3px;
}
.show-info-btn{
    background-color: rgb(168, 98, 14);
}
.hide-info-btn{
    background-color: rgb(184, 65, 18);
}